<template>
  <b-container fluid>
    <b-card title="Incluir Dados Gerais do Curso">
      <b-form @submit="doSavePpc" @reset="onReset">
        <b-row>
          <b-col sm="4">
            <b-form-group label="Curso: " label-for="select">
              <b-form-select id="select" v-model="ppc.curso" :options="options" required placeholder="Selecione o Curso">
              </b-form-select>
            </b-form-group>
          </b-col>
          </b-row>
          <b-row>
          <b-col sm="6">
            <b-form-group label="Perfil Curso: " label-for="perfilCurso">
              <b-form-input id="perfilCurso" type="text" v-model="ppc.perfilCursos" required placeholder="Perfil Curso">
              </b-form-input>
            </b-form-group>
          </b-col>
          <b-col sm="6">
            <b-form-group label="Perfil do Egresso: " label-for="courseNomination">
              <b-form-input id="courseNomination" type="text" v-model="ppc.perfilEgresso" required placeholder="Perfil do Egresso">
              </b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col sm="4">
            <b-form-group label="Forma de Acesso ao Curso: " label-for="license">
              <b-form-input id="license" type="text" v-model="ppc.formaAcessoCurso" required placeholder="Forma de acesso">
              </b-form-input>
            </b-form-group>
          </b-col>
          <b-col sm="8">
            <b-form-group label="Representação Gráfica de um Perfil de Formação: " label-for="local">
              <b-form-input id="local" type="text" v-model="ppc.graficoPerfilFormacao" required placeholder="Representação Gráfica">
              </b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col sm="4">
            <b-form-group label="Sistema de Avaliação de Ensino Aprendizagem: " label-for="shifts">
              <b-form-input id="shifts" type="text" v-model="ppc.sistemaAvaliacaoAprendizagem" required placeholder="Sistema de Avaliação">
              </b-form-input>
            </b-form-group>
          </b-col>
          <b-col sm="8">
            <b-form-group label="Sistema de avaliação do Registro do Curso: " label-for="anualSlots" >
              <b-form-input id="anualSlots" type="text" v-model="ppc.avaliacaoProjetoCurso" required placeholder="Número de Vagas">
              </b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col sm="4">
            <b-form-group label="Trabalho de conclusão de Curso: " label-for="hours">
              <b-form-input id="hours" type="text" v-model="ppc.tcc" required placeholder="Carga Horária do Curso">
              </b-form-input>
            </b-form-group>
          </b-col>
          <b-col sm="4">
            <b-form-group label="Estagio Curricular: " label-for="hours">
              <b-form-input id="hours" type="text" v-model="ppc.estagioCurricular" required placeholder="Carga Horária do Curso">
              </b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <b-form-group label="Politica de Atendimento a Pessoa com Deficiência e/ou Mobilidade Reduzida: " label-for="hours">
              <b-form-textarea id="hours" type="text" v-model="ppc.politicaAtendimentoPcd" required placeholder="Politica de Atendimento a Pessoa com Deficiência e/ou Mobilidade Reduzida">
              </b-form-textarea>
            </b-form-group>
          </b-col>
        </b-row>

        <b-row>
          <b-col offset="8">
            <b-button type="submit" variant="success">Salvar</b-button>
            <b-button variant="danger">Limpar </b-button>
          </b-col>
        </b-row>
      </b-form>
    </b-card>
  </b-container>
</template>
<script>
import PpcService from '@/services/PpcService'
export default {
  data () {
    return {
      ppc: {
        perfilCursos: '',
        perfilEgresso: '',
        formaAcessoCurso: '',
        graficoPerfilFormacao: '',
        sistemaAvaliacaoAprendizagem: '',
        avaliacaoProjetoCurso: '',
        tcc: '',
        estagioCurricular: '',
        politicaAtendimentoPcd: ''
      }
    }
  },
  methods: {
    async doSavePpc () {
      await PpcService.save(this.ppc)
    }
  },
  onReset () {}
}
</script>
