<template>
<b-container fluid>
  <b-card
    title="Projeto Pedagógico de Cursos"
  >
    <b-form @submit="doFilter" @reset="onReset">
      <b-row>
        <b-col sm="8">
        <b-form-group
          label="Filtro:"
          label-for="filter"
        >
          <b-form-input id="filter"
            type="text"
            v-model="filter"
            required
            placeholder="Palavra-chave">
          </b-form-input>
        </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col sm="2">
          <b-button variant="primary" type="submit">Localizar</b-button>
        </b-col>
        </b-row>
        <br/>
        <b-row>
          <b-table :items="items" :fields="fields">
    <template slot="show_details" slot-scope="row">
      <!-- we use @click.stop here to prevent emitting of a 'row-clicked' event  -->
      <!-- In some circumstances you may need to use @click.native.stop instead -->
      <!-- As `row.showDetails` is one-way, we call the toggleDetails function on @change -->
      <b-form-checkbox @click.native.stop @change="row.toggleDetails" v-model="row.detailsShowing">
      </b-form-checkbox>
    </template>
    <template slot="actions" slot-scope="row">
      <b-button size="sm" @click="row.toggleDetails">Alterar</b-button>
      <b-button size="sm" @click="row.toggleDetails">Excluir</b-button>
    </template>
    <!-- <template slot="row-details" slot-scope="row">
      <b-card>
        <b-row class="mb-2">
          <b-col sm="3" class="text-sm-right"><b>Age:</b></b-col>
          <b-col>{{ row.item.age }}</b-col>
        </b-row>
        <b-row class="mb-2">
          <b-col sm="3" class="text-sm-right"><b>Is Active:</b></b-col>
          <b-col>{{ row.item.isActive }}</b-col>
        </b-row>
      </b-card>
    </template> -->
  </b-table>
        </b-row>
    </b-form>
  </b-card>
</b-container>
</template>

<script>

export default {
  data () {
    return {
      filter: '',
      fields: [{ key: 'check', label: '' }, {key: 'Lista_Projeto_Pedagogico_de_Cursos', label: 'Lista Projeto Pedagogico de Cursos'}, {key: 'actions', label: 'Ações'}],
      items: [
        { check: true, Lista_Projeto_Pedagogico_de_Cursos: 'Analise de Sistemas PPC - 1' },
        { check: true, Lista_Projeto_Pedagogico_de_Cursos: 'Analise de Sistemas PPC - 2' },
        { check: true, Lista_Projeto_Pedagogico_de_Cursos: 'Analise de Sistemas PPC - 3' }
      ]
    }
  },
  methods: {
    doFilter () {
      alert(this.filter)
    }
  },
  onReset () {}
}
</script>
