<template>
  <b-container fluid>
    <b-card title="Elaborar ata de reunião">
      <b-form @submit="doAdd" @reset="onReset">
        <b-row>
          <b-col sm="4">
            <b-form-group label="Data da Reunião: " label-for="select">
              <b-form-date id="select" v-model="ataReuniao.data" :options="options" required>
              </b-form-date>
            </b-form-group>
          </b-col>
          <b-col sm="8">
            <b-form-group label="Local da reunião: " label-for="local">
              <b-form-input id="local" v-model="ataReuniao.local" :options="options" required placeholder="Local">
              </b-form-input>
            </b-form-group>
          </b-col>
        </b-row>

        <b-row>
          <b-col sm="3">
            <b-form-group label="Participantes: " label-for="courseNomination">
              <b-form-input id="courseNomination" type="text" v-model="ataReuniao.participante" required placeholder="Título">
              </b-form-input>
            </b-form-group>
          </b-col>
          <b-form-group label="_">
            <b-col sm="3">
              <b-button @click="addParticipante" variant="success">Adicionar -></b-button>
            </b-col>
          </b-form-group>
          <b-col sm="3">
          <b-form-group label="Participantes: " label-for="courseNomination">
              <b-form-select id="courseNomination" multiple :select-size="4" :options="ataReuniao.listaParticipantes" @click="removeParticipant">
              </b-form-select>
            </b-form-group>
          </b-col>
          <b-form-group label="_">
            <b-col sm="3">
              <b-button  variant="success">Remover</b-button>
            </b-col>
          </b-form-group>
        </b-row>

        <b-row>
          <b-col sm="">
            <b-form-group label="Deliberações: " label-for="courseNomination">
              <b-form-textarea id="courseNomination" v-model="ataReuniao.deliberacoes">
              </b-form-textarea>
            </b-form-group>
          </b-col>
        </b-row>

        <b-row>
          <b-col offset="8">
            <b-button type="submit" variant="success">Salvar</b-button>
            <b-button variant="danger">Limpar </b-button>
          </b-col>
        </b-row>
      </b-form>
    </b-card>
  </b-container>
</template>

<script>
import ReuniaoService from '@/services/ReuniaoService'

export default {
  data () {
    return {
      ataReuniao: {
        data: '',
        local: '',
        participante: '',
        listaParticipantes: [],
        deliberacoes: ''
      },
      options: []
    }
  },
  methods: {
    async doAdd () {
      await ReuniaoService.save(this.ataReuniao)
    },
    addParticipante () {
      console.log('asdfasdf')
      let obj = {
        value: this.ataReuniao.participante,
        text: this.ataReuniao.participante
      }
      this.ataReuniao.listaParticipantes.push(obj)
      this.ataReuniao.participante = ''
    },
    onReset () {}
  }
}
</script>
