<template>
  <b-container fluid>
    <b-card title="Cadastro de Bibliografia">
      <b-form @submit="doAdd" @reset="onReset">
        <b-row>
          <b-col sm="6">
            <b-form-group label="Curso: " label-for="select">
              <b-form-select id="select" v-model="bibliografia.curso" :options="options" required placeholder="Selecione o Curso">
              </b-form-select>
            </b-form-group>
          </b-col>
          <b-col sm="6">
            <b-form-group label="Disciplina: " label-for="select">
              <b-form-select id="select" v-model="bibliografia.disciplina" :options="options" required placeholder="Selecione a Disciplina">
              </b-form-select>
            </b-form-group>
          </b-col>
        </b-row>

        <b-row>
          <b-col sm="12">
            <b-form-group label="Titulo: " label-for="courseNomination">
              <b-form-input id="courseNomination" type="text" v-model="bibliografia.titulo" required placeholder="Título">
              </b-form-input>
            </b-form-group>
          </b-col>
        </b-row>

        <b-row>
          <b-col sm="12">
            <b-form-group label="Autor: " label-for="courseNomination">
              <b-form-input id="courseNomination" type="text" v-model="bibliografia.autor" required placeholder="Autor">
              </b-form-input>
            </b-form-group>
          </b-col>
        </b-row>

        <b-row>
          <b-col sm="6">
            <b-form-group label="ISBN: " label-for="courseNomination">
              <b-form-input id="courseNomination" type="text" v-model="bibliografia.isbn" required placeholder="ISBN">
              </b-form-input>
            </b-form-group>
          </b-col>
          <b-col sm="6">
            <b-form-group label="Ano: " label-for="courseNomination">
              <b-form-input id="courseNomination" type="text" v-model="bibliografia.ano" required placeholder="Ano">
              </b-form-input>
            </b-form-group>
          </b-col>
        </b-row>

        <b-row>
          <b-col sm="6">
            <b-form-group label="Editora: " label-for="license">
              <b-form-input id="license" type="text" v-model="bibliografia.editora" required placeholder="Editora">
              </b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col offset="8">
            <b-button type="submit" variant="success">Salvar</b-button>
            <b-button variant="danger">Limpar </b-button>
          </b-col>
        </b-row>
      </b-form>
    </b-card>
  </b-container>
</template>

<script>
import BibliografiaService from '@/services/BibliografiaService'

export default {
  data () {
    return {
      bibliografia: {
        titulo: '',
        autor: '',
        isbn: '',
        ano: '',
        editora: ''
      }
    }
  },
  methods: {
    async doAdd () {
      await BibliografiaService.save(this.curso)
    }
  },
  onReset () {}
}
</script>
