<template>
<b-card title="Dados Pessoais: " >
  <b-form @submit="doAdd" @reset="onReset">
      <b-row>
        <b-col sm="8">
        <b-form-group
          label="Nome: "
          label-for="name"
        >
        <b-form-input id="name"
          type="text"
          v-model="professor.fullName"
          required
          placeholder="João da Silva Sauro">
        </b-form-input>
        </b-form-group>
        </b-col>

        <b-col sm="4">
          <b-form-group
            label="CPF: "
            label-for="cpf"
          >
            <b-form-input id="cpf"
              type="text"
              v-model="professor.cpf"
              required
              placeholder="000.111.222-33">
            </b-form-input>

          </b-form-group>
        </b-col>
      </b-row>

      <b-row>
        <b-col sm="5">
        <b-form-group
          label="Maior Titulação: "
          label-for="highestDegree"
        >
        <b-form-input id="highestDegree"
          type="text"
          v-model="professor.highestDegree"
          required
          placeholder="Doutor">
        </b-form-input>
        </b-form-group>
        </b-col>

        <b-col sm="7">
          <b-form-group
            label="Área de Formação: "
            label-for="major"
          >
            <b-form-input id="major"
              type="text"
              v-model="professor.major"
              required
              placeholder="Análise de Sistemas">
            </b-form-input>

          </b-form-group>
        </b-col>
        </b-row>

        <b-row>
          <b-col sm="8">
            <b-form-group
              label="Currículo Lattes: "
              label-for="curriculumLattes"
            >
            <b-form-input id="curriculumLattes"
              type="text"
              v-model="professor.curriculumLattes"
              required
              placeholder="https://lattes.com">
            </b-form-input>
            </b-form-group>
          </b-col>

          <b-col sm="4">
            <b-form-group
              label="Data de Atualização: "
              label-for="lastUpdated"
             >
            <b-form-input id="lastUpdated"
              type="text"
              v-model="professor.lastUpdated"
              required
              placeholder="01/01/2018">
            </b-form-input>

            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <b-button variant="primary" type="submit">Cadastrar</b-button>
          </b-col>
        </b-row>
    </b-form>
      </b-card>
</template>

<script>
import ProfessorService from '@/services/ProfessorService'

export default {
  data () {
    return {
      professor: {
        name: '',
        cpf: '',
        highestDegree: '',
        major: ''
      }
    }
  },
  methods: {
    async doAdd () {
      await ProfessorService.save(this.professor)
    }
  },
  onReset () {}
}
</script>
