<template>
<b-container fluid>
  <b-tabs pills card>
    <b-tab title="Dados Pessoais">
      <professors-form/>
    </b-tab>
    <b-tab title="Atuação na IES">
      <b-tabs pills card vertical>
        <b-tab title="Geral">
          geral-form
        </b-tab>
        <b-tab title="Atuação Profissional">
          atuacao-profissional-form
        </b-tab>
        <b-tab title="Publicações">
          publicacoes-form
        </b-tab>
      </b-tabs>
    </b-tab>
  </b-tabs>
</b-container>
</template>

<script>
import ProfessorsForm from './ProfessorsForm'

export default {
  components: {
    ProfessorsForm
  },
  data () {
    return {
      professor: {
        name: '',
        cpf: '',
        highestDegree: '',
        major: ''
      }
    }
  },
  methods: {
    doFilter () {
      alert(this.filter)
    }
  },
  onReset () {}
}
</script>
