<template>
  <b-container fluid>
    <b-card title="Incluir Disciplina">
      <b-form @submit="doAdd" @reset="onReset">
        <b-row>
          <b-col sm="6">
            <b-form-group label="Nome da Disciplina: " label-for="type">
              <b-form-input id="type" type="text" v-model="curso.nome" required placeholder="Nome da Disciplina">
              </b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col sm="6">
            <b-form-group label="Descrição: " label-for="courseNomination">
              <b-form-input id="courseNomination" type="text" v-model="curso.denominacaoCurso" required placeholder="Denominação do Curso">
              </b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col sm="6">
            <b-form-group label="Código da disciplina: " label-for="license">
              <b-form-input id="license" type="text" v-model="curso.habilitacao" required placeholder="Habilitação">
              </b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col sm="4">
            <b-form-group label="Semestre: " label-for="shifts">
              <b-form-input id="shifts" type="text" v-model="curso.turnoFuncionamento" required placeholder="Turnos de Funcionamento">
              </b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col sm="4">
            <b-form-group label="Carga Horária do Curso: " label-for="hours">
              <b-form-input id="hours" type="text" v-model="curso.cargaHora" required placeholder="Carga Horária do Curso">
              </b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col offset="8">
            <b-button type="submit" variant="success">Salvar</b-button>
            <b-button variant="danger">Limpar </b-button>
          </b-col>
        </b-row>
      </b-form>
    </b-card>
  </b-container>
</template>

<script>
import DisciplinaService from '@/services/DisciplinaService'

export default {
  data () {
    return {
      curso: {
        tipoCurso: '',
        modalidade: '',
        denominacaoCurso: '',
        habilitacao: '',
        localOferta: '',
        turnoFuncionamento: '',
        numVagas: '',
        cargaHora: '',
        regimeLetivo: '',
        periodos: '',
        professorName: '',
        cpf: '',
        highestDegree: '',
        dedicatedTime: ''
      }
    }
  },
  methods: {
    async doAdd () {
      await DisciplinaService.save(this.curso)
    }
  },
  onReset () {}
}
</script>
