<template>
  <b-row>
    <b-col cols="3">
      <PPCNavbar/>
    </b-col>
    <b-col cols="9">
      <router-view/>
    </b-col>
  </b-row>
</template>

<script>
import PPCNavbar from './utils/PPCNavbar'

export default {
  components: {
    PPCNavbar
  }
}
</script>
