<template>
  <div class="row justify-content-md-center align-middle">
    <b-card
      title="PPC - Login"
      class="col col-lg-4"
    >
      <b-form @submit.prevent="doLogin">
        <b-form-group
          label="Nome de usuário:"
          label-for="username"
        >
          <b-form-input
            id="username"
            type="text"
            v-model="username"
            required
            placeholder="Nome de usuário">
          </b-form-input>
        </b-form-group>

        <b-form-group
          label="Senha:"
          label-for="password"
        >
          <b-form-input
            id="password"
            type="password"
            v-model="password"
            required
            placeholder="Senha">
          </b-form-input>
        </b-form-group>

        <b-button variant="primary" type="submit">Entrar</b-button>
      </b-form>
    </b-card>
  </div>
</template>

<script>
export default {
  name: 'login',
  data () {
    return {
      username: '',
      password: ''
    }
  },
  methods: {
    doLogin () {
      this.$router.push({ name: 'dashboard' })
    }
  }
}
</script>
