<template>
  <b-container fluid>
    <b-card title="Incluir Dados Gerais do Curso">
      <b-form @submit="doAdd" @reset="onReset">
        <b-row>
          <b-col sm="4">
            <b-form-group label="Tipo do Curso: " label-for="type">
              <b-form-input id="type" type="text" v-model="curso.tipoCurso" required placeholder="Tipo do Curso">
              </b-form-input>
            </b-form-group>
          </b-col>
          <b-col sm="8">
            <b-form-group label="Modalidade: " label-for="modality">
              <b-form-input id="modality" type="text" v-model="curso.modalidade" required placeholder="Modalidade">
              </b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col sm="12">
            <b-form-group label="Denominação do Curso: " label-for="courseNomination">
              <b-form-input id="courseNomination" type="text" v-model="curso.denominacaoCurso" required placeholder="Denominação do Curso">
              </b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col sm="4">
            <b-form-group label="Habilitação: " label-for="license">
              <b-form-input id="license" type="text" v-model="curso.habilitacao" required placeholder="Habilitação">
              </b-form-input>
            </b-form-group>
          </b-col>
          <b-col sm="8">
            <b-form-group label="Local de Oferta : " label-for="local">
              <b-form-input id="local" type="text" v-model="curso.localOferta" required placeholder="Local de Oferta">
              </b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col sm="4">
            <b-form-group label="Turnos de Funcionamento: " label-for="shifts">
              <b-form-input id="shifts" type="text" v-model="curso.turnoFuncionamento" required placeholder="Turnos de Funcionamento">
              </b-form-input>
            </b-form-group>
          </b-col>
          <b-col sm="8">
            <b-form-group label="Número de Vagas para cada Turno : " label-for="anualSlots" description="vagas anuais">
              <b-form-input id="anualSlots" type="text" v-model="curso.numVagas" required placeholder="Número de Vagas">
              </b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col sm="4">
            <b-form-group label="Carga Horária do Curso: " label-for="hours">
              <b-form-input id="hours" type="text" v-model="curso.cargaHora" required placeholder="Carga Horária do Curso">
              </b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col sm="4">
            Estrutura Curricular:
          </b-col>
        </b-row>
        <b-row>
          <b-col sm="4">
            <b-form-group label="Regime Letivo: " label-for="schoolRegime">
              <b-form-input id="schoolRegime" type="text" v-model="curso.regimeLetivo" required placeholder="Regime Letivo">
              </b-form-input>
            </b-form-group>
          </b-col>
          <b-col sm="8">
            <b-form-group label="Períodos: " label-for="periods">
              <b-form-input id="periods" type="text" v-model="curso.periodos" required placeholder="Períodos">
              </b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col sm="4">
            Coordenador do Curso:
          </b-col>
        </b-row>
        <b-row>
          <b-col sm="8">
            <b-form-group label="Nome: " label-for="professorName">
              <b-form-select id="professorName" v-model="curso.professorName" :options="options" class="mb-3" />
            </b-form-group>
          </b-col>
          <b-col sm="4">
            <b-button style="margin-top: 30px" variant="success">Cadastrar novo Professor</b-button>
          </b-col>
        </b-row>
        <b-row>
          <b-col sm="5">
            <b-form-group label="CPF: " label-for="cpf">
              <b-form-input id="cpf" type="text" v-model="curso.cpf" disabled placeholder="cpf do professor">
              </b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col sm="5">
            <b-form-group label="Titulação: " label-for="highestDegree">
              <b-form-input id="highestDegree" type="text" v-model="curso.highestDegree" disabled placeholder="Titulação">
              </b-form-input>
            </b-form-group>
          </b-col>
          <b-col sm="5">
            <b-form-group label="Tempo de dedicação: " label-for="dedicatedTime">
              <b-form-input id="dedicatedTime" type="text" v-model="curso.dedicatedTime" disabled placeholder="Tempo de Dedicação">
              </b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col offset="8">
            <b-button type="submit" variant="success">Salvar</b-button>
            <b-button variant="danger">Limpar </b-button>
          </b-col>
        </b-row>
      </b-form>
    </b-card>
  </b-container>
</template>

<script>
import CursoService from '@/services/CursoService'

export default {
  data () {
    return {
      curso: {
        tipoCurso: '',
        modalidade: '',
        denominacaoCurso: '',
        habilitacao: '',
        localOferta: '',
        turnoFuncionamento: '',
        numVagas: '',
        cargaHora: '',
        regimeLetivo: '',
        periodos: '',
        professorName: '',
        cpf: '',
        highestDegree: '',
        dedicatedTime: ''
      }
    }
  },
  methods: {
    async doAdd () {
      await CursoService.save(this.curso)
    }
  },
  onReset () {}
}
</script>
