<template>
  <b-list-group style="height: 100vh;">
    <b-list-group-item>
      <h3>Menu</h3>
    </b-list-group-item>
    <router-link
      v-for="link in links"
      :key="link.label"
      :to="link.to"
      tag="b-list-group-item"
    >
      <b-link>
        {{ link.label }}
      </b-link>
    </router-link>
  </b-list-group>
</template>

<script>
export default {
  data () {
    return {
      links: [
        { label: 'PPC', to: { name: 'ppc' } },
        { label: 'Cadastrar PPC', to: { name: 'cadastroPpc' } },
        { label: 'Professores', to: {name: 'professorView'} },
        { label: 'Cursos', to: {name: 'cadastrarCurso'} },
        { label: 'Disciplina', to: {name: 'cadastroDisciplina'} },
        { label: 'Bibliografia', to: {name: 'cadastroBibliografia'} },
        { label: 'Ata Reunião', to: {name: 'ataReuniaoElaborar'} }
      ]
    }
  }
}
</script>
